[client]
#password	= your_password
port		= 3306
socket		= /run/mysqld/mysqld.sock

# The MariaDB server
[mysqld]

### BEGINN: changed/created for Zarafa

skip-networking
query-cache-type = 1
query-cache-size = 32M
thread_cache = 15
join_buffer_size = 128K
max_connections = 35
max_allowed_packet = 16M
aria-pagecache-buffer-size=20M
key-cache-segments=4
innodb_file_per_table
innodb_data_file_path = ibdata1:10M:autoextend:max:64M
innodb_buffer_pool_size = 124M
innodb_additional_mem_pool_size = 1M
innodb_log_file_size = 12M
innodb_log_buffer_size = 32M
innodb_flush_log_at_trx_commit = 1
innodb_flush_method = O_DSYNC

# The number of days for automatic binary log file removal.
expire_logs_days=15

# The server relies on the operating system to flush the file contents occasionally as for any other file. 
sync_binlog=0

# /etc/zarafa/server.cfg : enable_sql_procedures = yes
thread_stack = 256k
innodb_locks_unsafe_for_binlog = 1

### END

port		= 3306
socket		= /run/mysqld/mysqld.sock
skip-external-locking
key_buffer_size = 16M
table_open_cache = 256
sort_buffer_size = 1M
net_buffer_length = 16K
read_buffer_size = 1M
read_rnd_buffer_size = 512K
myisam_sort_buffer_size = 8M

log-bin=mysql-bin
binlog_format=mixed
server-id	= 1

[mysqldump]
quick
max_allowed_packet = 16M

[mysql]
no-auto-rehash

[myisamchk]
key_buffer_size = 16M
sort_buffer_size = 1M
read_buffer = 2M
write_buffer = 2M

[mysqlhotcopy]
interactive-timeout
