[client]
#password	= your_password
port		= 3306
socket		= /run/mysqld/mysqld.sock

# The MariaDB server
[mysqld]

# Zarafa: enable_sql_procedures = yes
thread_stack = 256k
innodb_locks_unsafe_for_binlog = 1
##

# Zarafa spezific
query-cache-type = 1
query-cache-size = 32M
thread_cache = 15
join_buffer_size = 128K
max_connections = 35
aria-pagecache-buffer-size=20M
key-cache-segments=4
##

port		= 3306
socket		= /run/mysqld/mysqld.sock
skip-external-locking
key_buffer_size = 16M
max_allowed_packet = 16M
table_open_cache = 256
sort_buffer_size = 1MK
net_buffer_length = 16K
read_buffer_size = 1M
read_rnd_buffer_size = 512K
myisam_sort_buffer_size = 8M

skip-networking

log-bin=mysql-bin
binlog_format=mixed
server-id	= 1


[mysqldump]
quick
max_allowed_packet = 16M

[mysql]
no-auto-rehash

[myisamchk]
key_buffer_size = 16M
sort_buffer_size = 1M
read_buffer = 2M
write_buffer = 2M

[mysqlhotcopy]
interactive-timeout
